---

layout: default
title: Notes 

---
<h2>Here are notes from lectures, conferences, talks, books etc</h2>
<p>
    <strong>Disclaimer</strong> These notes are unfomatted, based 
    on topics I found interesting and wanted to learn more about.
    I am not sure if they are good or not. They might contain 
    typos/grammatical errors or inaccuracies. Feel free to let 
    me know if you find anything... bad.
</p>

{% for cat in site.posts %} 
{% if cat.categories contains 'notes' %}
    <div class="card p-0 m-5 has-background-light">
        <div class="card-content">
            <div class="content">
                <h2 class="has-text-centered">
                <a href="{{ cat.url }}">
                {{ cat.title }}
                </a>
                </h2>
                <p class="has-text-left">
                    {{ cat.excerpt }}
                </p>
            </div>
        </div>
    </div>
{% endif %}
{% endfor %}
