<footer class="footer" id="footer">
  <div class="content has-text-centered">
      <p>Kyle's Sites and Contact Information</p>
          <a href="mailto:contact@cooperkyle.com">
            <i class="fas fa-envelope text-muted fa-2x mr-2"></i>
          </a>
          <a href="https://www.linkedin.com/in/kylejacksoncooper/" target="_blank">
            <i class="fab fa-linkedin text-muted fa-2x mr-2"></i>
          </a>
          <a href="https://www.github.com/kc8" target="_blank">
            <i class="fab fa-github text-muted fa-2x mr-2"></i>
          </a>
          <a href="https://www.hackerrank.com/kyle23" target="_blank">
              <i class="fab fa-hackerrank text-muted fa-2x mr-2"></i>
          </a>
          <a href="https://leetcode.com/user5224I/" target="_blank">
              <i class="fas fa-laptop-code text-muted fa-2x mr-2"></i>
          </a>
      </div>
  </footer>
